# xcode noise
*.mode1v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
build/*
.idea/*

*.xcuserdatad


# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile

Podfile.lock
_old_Podfile
_old_Pods/
_Pods/

tests/automation/*.trace
AlienBlue.xcworkspace/xcshareddata/
AlienBlue.xcodeproj/project.xcworkspace/
